node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
ios/

android-overlay/app/src/main/jniLibs/
